# symbolic detail
SYMBOLIC_URL="https://identitas.extrainteger.com/"

# account detail
ACCOUNT_EMAIL="helmy@extrainteger.com"
ACCOUNT_PASSWORD="CHANGE_YOUR_PASSWORD"

# oauth client 
PIJAR_URL="https://staging.pijarcareer.co.id/"